In [237]:
import pandas as pd
import numpy as np

df = pd.read_csv("sales_data.csv", index_col = False)

C:\Users\himan\AppData\Local\Temp\ipykernel_1540\3581007499.py:4: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv("sales_data.csv", index_col = False)

In [239]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,1001.0,USB-C Cable,2.0,11.95,01/01/23 10:00,917 1st St
1,1002.0,Macbook Pro Laptop,1.0,1700.00,01/02/23 12:00,682 Chestnut St
2,1003.0,USB-C Cable,1.0,NaN,01/05/23 11:30,123 Main St
3,1004.0,AAA Batteries (4-pack),3.0,2.99,01/10/23 09:15,456 Elm St
4,NaN,NaN,NaN,NaN,NaN,NaN
5,1005.0,AAA Batteries (4-pack),2.0,2.99,2023-02-01 14:00,789 Maple St
6,1006.0,ThinkPad Laptop,1.0,999.99,02/05/23 16:20,321 Oak St
7,1007.0,USB-C Cable,1.0,11.95,02/10/23 08:45,654 Pine St
8,1008.0,ThinkPad Laptop,1.0,NaN,02/15/23 13:00,987 Cedar St
9,1009.0,Lightning Cable,1.0,14.95,03/01/23 10:00,111 Birch St
10,1010.0,Lightning Cable,3.0,14.95,03/05/23 12:30,222 Walnut St
11,1011.0,AAA Batteries (4-pack),1.0,2.99,03/10/23 15:45,333 Cherry St

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          11 non-null     float64
 1   Product           11 non-null     object
 2   Quantity Ordered  11 non-null     float64
 3   Price Each        9 non-null      float64
 4   Order Date        11 non-null     object
 5   Purchase Address  11 non-null     object
dtypes: float64(3), object(3)
memory usage: 708.0+ bytes

In [241]:
#Drop rows where Order ID or Product is missing.
df = df.dropna(subset=['Order ID', 'Product'])

In [243]:
#Fill missing Price values with the mean price of that specific product.
df['Price Each'] = df['Price Each'].fillna(df.groupby('Product')['Price Each'].transform('mean'))

C:\Users\himan\AppData\Local\Temp\ipykernel_1540\1177565619.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price Each'] = df['Price Each'].fillna(df.groupby('Product')['Price Each'].transform('mean'))

In [363]:
#converting data type of order date column and 
df['Order Date'] = pd.to_datetime(df['Order Date'])

C:\Users\himan\AppData\Local\Temp\ipykernel_1540\2623685116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order Date'] = pd.to_datetime(df['Order Date'])

In [343]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 0 to 11
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          11 non-null     float64
 1   Product           11 non-null     object
 2   Quantity Ordered  11 non-null     float64
 3   Price Each        11 non-null     float64
 4   Order Date        11 non-null     datetime64[ns]
 5   Purchase Address  11 non-null     object
 6   Total Sales       11 non-null     float64
 7   Month             11 non-null     int32
dtypes: datetime64[ns](1), float64(4), int32(1), object(2)
memory usage: 748.0+ bytes

In [247]:
#Analysis--
#Calculate a new column Total Sales (Quantity * Price)
df['Total Sales'] = df['Quantity Ordered'] * df['Price Each']

C:\Users\himan\AppData\Local\Temp\ipykernel_1540\4181385787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Sales'] = df['Quantity Ordered'] * df['Price Each']

In [345]:
#Group by Month to find the total revenue per month.
df['Month'] = df['Order Date'].dt.month

C:\Users\himan\AppData\Local\Temp\ipykernel_1540\3665472013.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Order Date'].dt.month

In [347]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 0 to 11
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          11 non-null     float64
 1   Product           11 non-null     object
 2   Quantity Ordered  11 non-null     float64
 3   Price Each        11 non-null     float64
 4   Order Date        11 non-null     datetime64[ns]
 5   Purchase Address  11 non-null     object
 6   Total Sales       11 non-null     float64
 7   Month             11 non-null     int32
dtypes: datetime64[ns](1), float64(4), int32(1), object(2)
memory usage: 748.0+ bytes

In [311]:
#Find the Best Selling Product (by Quantity) for each month
monthly_revenue = df.groupby('Month')['Total Sales'].sum().reset_index()

In [319]:
# We sum the quantity for each product per month, then pick the max for each month
best_selling = product_sales.loc[product_sales.groupby('Month')['Quantity Ordered'].idxmax()]

In [325]:
# Print the Monthly Revenue summary to the console
print(monthly_revenue)
print(best_selling)

   Month  Total Sales
0      1      1744.82
1      2      2017.91
2      3        62.79
   Month                 Product  Quantity Ordered
0      1  AAA Batteries (4-pack)               3.0
3      2  AAA Batteries (4-pack)               2.0
7      3         Lightning Cable               4.0

In [329]:
df1 = df[['Order ID','Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']]

In [349]:
# Save the cleaned dataset to cleaned_sales.csv
df1.to_csv('H:\Data_Engineer_Internship\python_practice\cleaned_sales.csv', index = False)